<div id="<%= dom_id form_submission %>">
  <p>
    <strong>Form:</strong>
    <%= form_submission.form_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= form_submission.user_id %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= form_submission.answer %>
  </p>

  <p>
    <strong>Completed on:</strong>
    <%= form_submission.completed_on %>
  </p>

</div>
