<div class="row">
    <div class="col">
      <div class="container">
        <ul class="nav nav-tabs" id="formTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pending-forms-tab" data-bs-toggle="tab" href="#pending-forms" role="tab" aria-controls="pending-forms" aria-selected="true">Pending Forms</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="completed-forms-tab" data-bs-toggle="tab" href="#completed-forms" role="tab" aria-controls="completed-forms" aria-selected="false">Completed Forms</a>
          </li>
        </ul>

        <div class="tab-content" id="formTabsContent">
          <div class="tab-pane fade show active" id="pending-forms" role="tabpanel" aria-labelledby="pending-forms-tab">
            <div class="card mt-2">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="stick" scope="col"><a>Name</a></th>
                            <th class="stick" scope="col"><a>Required By</a></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @forms_without_submission.each do |form| %>
                            <tr>
                              <td><%= link_to form.name, new_form_form_submission_path(form_id: form.id), class:"nav-link" %></td>
                              <td class="<%= 'text-danger' if form.required_by < DateTime.now %>">
                                <%= form.required_by.strftime("%m/%d/%Y %I:%M%p") %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="completed-forms" role="tabpanel" aria-labelledby="completed-forms-tab">
            <div class="card mt-2">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="stick" scope="col"><a>Name</a></th>
                            <th class="stick" scope="col"><a>Completed On</a></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @forms_with_submission.each do |form| %>
                            <% form_submission = current_user.form_submissions.find_by(form_id: form.id) %> <!-- Find the corresponding submission -->
                            <tr>
                              <td><%= link_to form.name, form_form_submission_path(form.id, form_submission), class:"nav-link" %></td>
                              <td><%= form_submission.completed_on.strftime("%m/%d/%Y %I:%M%p") %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>