<div id="<%= dom_id form_field %>">
  <p>
    <strong>Form:</strong>
    <%= form_field.form_id %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= form_field.label %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= form_field.description %>
  </p>

  <p>
    <strong>Field type:</strong>
    <%= form_field.field_type %>
  </p>

</div>
