<%= form_with(model: form_field) do |form| %>
  <% if form_field.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(form_field.errors.count, "error") %> prohibited this form_field from being saved:</h2>

      <ul>
        <% form_field.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :form_id, style: "display: block" %>
    <%= form.text_field :form_id %>
  </div>

  <div>
    <%= form.label :label, style: "display: block" %>
    <%= form.text_field :label %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :field_type, style: "display: block" %>
    <%= form.text_field :field_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
